.button
    font-weight: bold
    font-size: .8rem
    cursor: pointer
    transition: .5s

.blue-button
    color: #ddd
    background-color: rgb(37, 68, 146)
    &:hover
        color: #fff
        background-color: rgb(52, 81, 155)
