form.change-image-box,
div.change-image-box
    display: flex
    flex-direction: column
    align-items: center
    gap: 1rem
    .preview
        overflow: hidden
        box-shadow: 2px 2px 8px 4px #ddd
        border-radius: 7px

        display: flex
        justify-content: center
        align-items: center
    label
        .button
            padding: 5px 10px
            border-radius: 7px
            font-size: .9rem
        input
            display: none

