textarea
    min-height: 8.4rem
    padding: 5px 10px
    border-radius: 5px
    background: white
    border: 1px solid #ddd
    outline: none
    transition: .5s

    font-size: 1rem

    resize: none
    &:focus
        border: 1px solid #000
